data/cystic-fibrosis/cfc-2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 rel. 3 sp2 (http://www.altova.com)-->
<!ELEMENT ABSTRACT (#PCDATA)>
<!ELEMENT AUTHOR (#PCDATA)>
<!ELEMENT AUTHORS (AUTHOR+)>
<!ELEMENT CITATIONS (CITE+)>
<!ELEMENT CITE EMPTY>
<!ATTLIST CITE
	num CDATA #REQUIRED
	author CDATA #REQUIRED
	publication CDATA #REQUIRED
	d1 CDATA #REQUIRED
	d2 CDATA #REQUIRED
	d3 CDATA #REQUIRED
>
<!ELEMENT EXTRACT (#PCDATA)>
<!ELEMENT FILE (RECORD+)>
<!ELEMENT MAJORSUBJ (TOPIC+)>
<!ELEMENT MEDLINENUM (#PCDATA)>
<!ELEMENT MINORSUBJ (TOPIC+)>
<!ELEMENT PAPERNUM (#PCDATA)>
<!ELEMENT RECORD (PAPERNUM | REFERENCES | RECORDNUM | MEDLINENUM | AUTHORS | TITLE | SOURCE | MAJORSUBJ | MINORSUBJ | ABSTRACT | CITATIONS | EXTRACT)+>
<!ELEMENT RECORDNUM (#PCDATA)>
<!ELEMENT REFERENCES (#PCDATA | CITE)*>
<!ELEMENT SOURCE (#PCDATA)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT TOPIC (#PCDATA)>
