data/cystic-fibrosis/cfcquery-2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 rel. 3 sp2 (http://www.altova.com)-->
<!ELEMENT FILEQUERY (QUERY+)>
<!ELEMENT Item (#PCDATA)>
<!ATTLIST Item
	score CDATA #REQUIRED
>
<!ELEMENT QUERY (QueryNumber, QueryText, Results, Records)>
<!ELEMENT QueryNumber (#PCDATA)>
<!ELEMENT QueryText (#PCDATA)>
<!ELEMENT Records (Item+)>
<!ELEMENT Results (#PCDATA)>

<!-- relevance scores from 4 different sources:
        REW (one of the authors), faculty colleagues of REW, post-doctorate
        associate of REW, and JBW (other author and a medical bibliographer).
        The relevance scores vary from 0 to 2 with the following meaning:

                2   HIGHLY relevant
                1   MARGINALLY relevant
                0   NOT relevant

		ex.: <Item score="0010">513</Item>

		==>  Doc number: 513
                     Rel score by REW: NOT relevant.
                     Rel score by REW colleagues: NOT relevant.
                     Rel score by REW post-doctorates: MARGINALLY relevant
                     Rel score by JBW: NOT relevant.
-->
